.сlientsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.clientsitemsBlock {
  flex-direction: column;
  overflow-y: scroll;
  max-width: 959px;
  height: 700px;
  width: 100%;
  margin: 0;
}
